<!DOCTYPE html>
<html>
<head>
    <title>COURSES</title>
    <link rel="shortcut icon" href="images/studyPortal.webp">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="course2.css">

</head>

<style>
    
    
    


</style>

<body>
    <div class="page-container">
    <section>
        <nav class="navbar">
            <img src="images/studyPortal.webp" height="50px" width="150px"/> 
            <div  class="nav-links">
                <ul>
                    <li><a href="2.html"></i>HOME</a></li>
                    <li><a href="#about"></i>ABOUT</a></li>
                    <li><a href="COURSES.html">COURSE</a></li>
                    <li><a href="login_page.html">LOGIN</a></li>

                    
                </ul>
            </div>
        </nav>
    </section>
    
<section class="box">
    
        <div class="polaroid" onclick="location.href='medicalScience.html';">
            <img src="images/medicalScience.jpg" alt="medicalScience" height:450px style="width:100%">
            <div class="container">
                <p>Medical Science</p>
            </div>
        </div>
    
    
        <div class="polaroid" onclick="location.href='M-TECH.html';">
            <img src="images/mtech.jpeg" alt="M-tech" style="width:100%">
            <div class="container">
                <p>M-Tech</p>
            </div>
        </div>
   
    
        <div class="polaroid" onclick="location.href='Management.html';">
        <img src="images/management.png" alt="b-tech" style="width:100%">
            <div class="container">
                <p>Management</p>
            </div>
        </div>
    
</section>
<footer>
    <div class="footer" height="50px">
        <p>for further information and enqiery visit our social handles </p>
        <ul id="socials">
            <li><a class="facebook" href="https://www.facebook.com/AmritaUniversity/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/amritaedu?lang=en"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google"href="https://www.amrita.edu/"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="youtube"href="https://www.youtube.com/user/AmritaUniversity"><i class="fa fa-youtube"></i></a></li>
            <li><a class="instagram"href="https://www.instagram.com/amrita_university/?hl=en"><i class="fa fa-instagram"></i></a></li>
        </ul>
            
    </div>
</footer>
</div>
</body>
</html>