<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reg_style.css" type="text/css">
    <script src="entire_js_file.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>Forgot Password</title>
    <link rel="shortcut icon" href="images/studyPortal.webp">

</head>
<style>
    body{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/loginpagepic_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>
<body>
    <div class="forgot" ng-app="">
        <form class="box" name="box" action="#"   novalidate>
            <h1>Reset Password</h1>
            <p style="text-align: center;font-size: 20px;color: tomato;"> Enter your mail id here to <br> reset your password </p></br>
            <input type="text" name="pass" placeholder="Email.id" id="forgot" ng-model="forgot.pass" required="true"></br>
            <div ng-show="box.pass.$touched && box.pass.$invalid">
                <small style="color: red; display: block; text-align: center;">Enter Email ID</small>
            </div>
            <div id="e_forgot" class="error"></div></br>
            <p style="font-size: 20px;color: tomato; ">  </p>
            <div class="f">
                <input type="submit" name="" value="submit" ng-disabled="box.$invalid">
                <a href="login_page.html" style="font-size: 18px;color: blue;">Login?</a>

            </div>
            
        </form>
    </div>
    
</body>
</html>