<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            M-TECH
        </title>  
        <link rel="shortcut icon" href="images/studyPortal.webp">
        <link rel="icon" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="course1.css">
     </head>
     <style>
    
      body{
       
       background-color: #ffbd77;
       background-image: linear-gradient(319deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%);
       animation-name: background-change;
       animation-iteration-count:infinite;
       animation-duration: 20s;
       animation-timing-function: ease-in-out;
       background-size: 400%;
       background-attachment: fixed;
       
   }
   @keyframes background-change{
      0%{
          background-position: 0% 50%;
      }
      50%{
          background-position: 100% 50%;
      }
      100%{
          background-position: 0% 50%;
      }
   }
               .blink {
                animation: blinker 1.5s linear infinite;
                color: red;
                font-family: sans-serif;
            }
            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
   

     </style>
     
     <body>
        <div class="page-container">
            
            <section>
                <nav class="navbar">
                    <img src="images/studyPortal.webp" height="50px" width="150px"/> 
                    <div  class="nav-links">
                        <ul>
                            <li><a href="2.html"></i>HOME</a></li>
                            <li><a href="#about"></i>ABOUT</a></li>
                         <li><a href="COURSES.html">COURSE</a></li>
                         <li><a href="login_page.html">LOGIN</a></li>


                        </ul>
                    </div>
                </nav>
            </section>

            <div class="content-wrap">

              <marquee class="blink">The minimum eligibility criteria is 8 CGPA in Bachelor's Degree. The last date of Registration is 1st Jan 2023...</marquee>

                <div class="content">
                    <div class="image">
                        <img  src="images/AI.jpg">
                    </div>
                    <div class="text">
                        <h2 class = "left">M. Tech. in Artificial Intelligence</h2>
                        <p class = "right">As we see a tech revolution in all facets of life powered by Artificial Intelligence, Amrita Vishwa Vidyapeetham offers an M. Tech. program in Artificial Intelligence at both Amritapuri and Coimbatore campuses to provide young engineers with a futuristic edge. M.Tech. in AI will provide the students with an opportunity to learn both foundational and experimental components of AI and Machine Learning.</p>
                        <button><a href="registration_form.html">REGISTRATION</a></button>
                    </div>
                </div>
                

                <div class="content">
                    <div class="text">
                        <h2 class = "left">M. Tech. in Cyber Security</h2>
                        <p class = "right">Aerospace Engineering is one of the primary disciplines of engineering studies that deals with design, development and functioning of the aircrafts and space crafts. This is perhaps the most sought-after area of study for the younger generation as it offers them great opportunities to work in challenging environments and is often touted as a ‘rocket science’.</p>   
                        <button><a href="registration_form.html">REGISTRATION</a></button>
                    </div>
                    <div class="image">
                        <img  src="images/cybersecurity.jpg">
                    </div>
                </div>

                <div class="content">
                    <div class="image">
                        <img  src="images/m-cse.jpg">
                   </div>
                    <div class="text">
                         <h2 class = "left">M. Tech. in Computer Science</h2>
                         <p class = "right">M.Tech in Computer Science & Engineering (Machine Learning) program has been designed for students with sufficient background in computer science and engineering to develop into adept professionals. M.Tech in Computer Science is a graduate degree that builds skill and knowledge in advanced and current topics of computer science. The curriculum has been designed to prepare students for highly prolific careers in industry. Some of the job profiles include: Application Analyst, Data Scientist, Data Analyst, Database Administrator, Information Systems Manager, IT Consultant, Multimedia Analyst</p>
                         <button><a href="registration_form.html">REGISTRATION</a></button>
                    </div>
                </div>

                <div class="content">
                      <div class="text">
                         <h2 class = "left">M. Tech. in Robotics And Automation</h2>
                         <p class = "right">Robotics, the branch of technology that deals with the design, construction, operation, and application of robots, has become a highly relevant and upcoming discipline. Many industries also use robots in their manufacturing facilities and research. For instance, robots are used in areas like high heat welding and continuous handling of heavy loads. Given its diverse applications, the robotics field today demands in-depth knowledge of a broad range of disciplines such as electronics, computers, instrumentation and mechanics</p>
                         <button><a href="registration_form.html">REGISTRATION</a></button>
                      </div>
                      <div class="image">
                            <img  src="images/robot.jpg">
                      </div>
                </div>

                <div class="content">
                    <div class="image">
                        <img  src="images/data.jpeg">
                   </div>
                    <div class="text">
                         <h2 class = "left">M. Tech. in Data Science (CEN)</h2>
                         <p>Data science has critical applications across most industries, and it is one of the most in-demand careers in computer science. So this M.Tech course aims at preparing students in the area of computational sciences especially in data driven modeling and scientific computation. Recent advances in computing-hardware platforms (NVIDIA CPU-GPUs, and Intel-Altera CPU-FPGA), Artificial Intelligence software platforms (like Torch, Theano and Tensor-flow) and sensor technology (camera, lidar, ultrasonic sensors) has resulted in rapid progress in machine -cognition tasks and is expected that machines will soon surpass the humans in visual and audio perception capabilities</p>
                         <button><a href="registration_form.html">REGISTRATION</a></button>

                   </div>
                </div>



            </div>


            <section class="footer">
                <div class="footer">
                    <p>for further information and enqiery visit our social handles </p>
                    <ul id="socials">
                        <li><a class="facebook" href="https://www.facebook.com/AmritaUniversity/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/amritaedu?lang=en"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google"href="https://www.amrita.edu/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="youtube"href="https://www.youtube.com/user/AmritaUniversity"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="instagram"href="https://www.instagram.com/amrita_university/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    </ul>       
                </div>
            </section>
            
        </div>
     
     </body>

     <script>
        const myTimeout = setTimeout(detail, 1000);
        function detail(){
          var x, i, xmlDoc; 
          var txt="";
          var txt2;
          var text = "<book>" +  
          "<COMPANY>M. Tech. in Artificial Intelligence</COMPANY>"+ 
          "<CGPA>As we see a tech revolution in all facets of life powered by Artificial Intelligence, Amrita Vishwa Vidyapeetham offers an M. Tech. program in Artificial Intelligence at both Amritapuri and Coimbatore campuses to provide young engineers with a futuristic edge. M.Tech. in AI will provide the students with an opportunity to learn both foundational and experimental components of AI and Machine Learning.</CGPA>" +
          "</book>"; 
          parser = new DOMParser(); 
          xmlDoc = parser.parseFromString(text,"text/xml"); 
          x = xmlDoc.documentElement.childNodes; 
          txt+="<h1>"+x[0].childNodes[0].nodeValue+"</h1><div style='text-align:center'>" 
          txt +=x[2].childNodes[0].nodeValue+"<br>"; 
          txt+="</div>"
          txt2="<br>"+x[1].tagName+"   :"+x[1].childNodes[0].nodeValue+"<br>"+x[3].tagName+"   :"+x[3].childNodes[0].nodeValue+"<br>"+x[4].tagName+":"+x[4].childNodes[0].nodeValue
          document.getElementById("name").innerHTML = txt; 
          document.getElementById("detail").innerHTML=txt2;

          txt=""; 
          txt+="<h1>"+x[5].childNodes[0].nodeValue+"</h1><div style='text-align:center'>" 
          txt+=x[7].childNodes[0].nodeValue+"<br>"; 
          txt+="</div>"
          txt2="<br>"+x[6].tagName+"   :"+x[6].childNodes[0].nodeValue+"<br>"+x[8].tagName+"   :"+x[8].childNodes[0].nodeValue+"<br>"+x[9].tagName+":"+x[9].childNodes[0].nodeValue
          document.getElementById("name1").innerHTML = txt; 
          document.getElementById("detail1").innerHTML=txt2;

          txt=""; 
          txt+="<h1>"+x[10].childNodes[0].nodeValue+"</h1><div style='text-align:center'>" 
          txt +=x[12].childNodes[0].nodeValue+"<br>"; 
          txt+="</div>"
          txt2="<br>"+x[11].tagName+"   :"+x[11].childNodes[0].nodeValue+"<br>"+x[13].tagName+"   :"+x[13].childNodes[0].nodeValue+"<br>"+x[14].tagName+":"+x[14].childNodes[0].nodeValue
          document.getElementById("name2").innerHTML = txt; 
          document.getElementById("detail2").innerHTML=txt2;
        }
</script> 

</html>