<!DOCTYPE html>
<html>
<head>
	<title>Management Colleges</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" href="images/studyPortal.webp">
        <link rel="icon" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="course1.css">
 
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="course1.css"> -->


     
     
      
            
            <section>
                <nav class="navbar">
                    <img src="images/studyPortal.webp" height="50px" width="150px"/> 
                    <div  class="nav-links">
                        <ul>
                            <li><a href="2.html"></i>HOME</a></li>
                            <li><a href="#about"></i>ABOUT</a></li>
                         <li><a href="COURSES.html">COURSE</a></li>
                         <li><a href="login_page.html">LOGIN</a></li>


                        </ul>
                    </div>
                </nav>
            </section>
			
<!-- ------------------- -->

<style>
    th{ 
        color:#fff;
            }
    button{
  transition-duration: 0.4s;
  border-radius: 6px;
  /*background-color: #008CBA;*/
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  transform: scale(1.13)
}
.blink {
                animation: blinker 1.5s linear infinite;
                color: red;
                font-family: sans-serif;
            }
            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
</style>

<marquee class="blink">The minimum eligibility criteria is 8.5 CGPA in Bachelor's Degree. The last date of Registration is 28th Dec 2022...</marquee>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>College</th>
        <th>Anual Fees</th>
        <th>Year of Estabilishment</th>
        <th></th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = [
	    {'college_name':'Australian National University', 'fees':'$91890', 'year':'1997','button':'REGISTRATION'},
	    {'college_name':'University of Sydney', 'fees':'$81620', 'year':'1971','button':'REGISTRATION'},
	    {'college_name':'Ohio State University', 'fees':'$73990', 'year':'1996','button':'REGISTRATION'},
	    {'college_name':'Boston University', 'fees':'$82190', 'year':'1990','button':'REGISTRATION'},
	    {'college_name':'Michigan State University', 'fees':'$81690', 'year':'1988','button':'REGISTRATION'},
	    {'college_name':'University of California', 'fees':'$71190', 'year':'1987','button':'REGISTRATION'},
	]
	
	buildTable(myArray)



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							
							<td>${data[i].college_name}</td>
							<td>${data[i].fees}</td>
							<td>${data[i].year} </td>
							<td><button><a href="registration_form.html" target="_blank">${data[i].button}</a></button></td>
			
						
					  </tr>`

			table.innerHTML += row



		}
	}

</script>
<section class="footer">
                <div class="footer">
                    <p>for further information and enqiery visit our social handles </p>
                    <ul id="socials">
                        <li><a class="facebook" href="https://www.facebook.com/AmritaUniversity/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/amritaedu?lang=en"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google"href="https://www.amrita.edu/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="youtube"href="https://www.youtube.com/user/AmritaUniversity"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="instagram"href="https://www.instagram.com/amrita_university/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    </ul>       
                </div>
            </section>
</body>
</html>