<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Medical Science
        </title>  
        <link rel="shortcut icon" href="images/studyPortal.webp">
        <link rel="icon" href="images/MedicalScienceLogo.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="course1.css">

     </head>
     <style>
        
      body{
       
       background-color: #cdedfd;
       background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
       animation-name: background-change;
       animation-iteration-count:infinite;
       animation-duration: 15s;
       animation-timing-function: ease-in-out;
       background-size: 400%;
       background-attachment: fixed;
       
   }
   @keyframes background-change{
      0%{
          background-position: 0% 50%;
      }
      50%{
          background-position: 100% 50%;
      }
      100%{
          background-position: 0% 50%;
      }
   }
   

.blink {
                animation: blinker 1.5s linear infinite;
                color: red;
                font-family: sans-serif;
            }
            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
     </style>
     
     <body>
        <div class="page-container">
            
            <section>
                <nav class="navbar">
                    <img src="images/studyPortal.webp" height="50px" width="150px"/> 
                    <div  class="nav-links">
                        <ul>
                            <li><a href="2.html"></i>HOME</a></li>
                            <li><a href="#about"></i>ABOUT</a></li>
                            <li><a href="COURSES.html">COURSE</a></li>
                            <li><a href="login_page.html">LOGIN</a></li>

                        </ul>
                    </div>
                </nav>
            </section>

            <div class="content-wrap">
                <marquee class="blink">The minimum eligibility criteria is 9 CGPA in Bachelor's Degree. The last date of Registration is 12th Feb 2023...</marquee>
                <div class="content">
                    <div class="image">
                        <img  src="images/biochemistry.jpg">
                    </div>
                    <div class="text">
                        <h2>Medical Science in Biochemistry</h2>
                        <p>Biochemistry or biological chemistry is the study of chemical processes within and relating to living organisms. A sub-discipline of both chemistry and biology, biochemistry may be divided into three fields: structural biology, enzymology and metabolism. Biochemistry. Skin & Communicable diseases. Nutrition. Eye. Fundamentals of Nursing, First aid with applied. Gynae. Sciences and Pharmacology.</p>
                        <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                    </div>
                </div>
                

                <div class="content">
                    <div class="text">
                        <h2>Medical Science in Pathology</h2>
                        <p>Pathology is the study of the causes and effects of disease or injury. The word pathology also refers to the study of disease in general, incorporating a wide range of biology research fields and medical practices. General Pathology. Orthodontics. Microbiology. Periodontics. General and Dental Pharmacology and Therapeutics. Pedodontics.</p>
                        <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                    </div>
                    <div class="image">
                        <img  src="images/pathology.png">
                    </div>
                </div>

                <div class="content">
                    <div class="image">
                        <img  src="images/physiology.jpg">
                   </div>
                    <div class="text">
                         <h2>Medical Science in Physiology</h2>
                         <p>Physiology is the scientific study of functions and mechanisms in a living system. As a sub-discipline of biology, physiology focuses on how organisms, organ systems, individual organs, cells, and biomolecules carry out the chemical and physical functions in a living system. General Human Physiology, Biochemistry. General Medicine. Nutrition and Dietetics. General Surgery. Dental materials. Oral Pathology and Microbiology.</p>
                         <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                    </div>
                </div>

                <div class="content">
                      <div class="text">
                         <h2>Medical Science in Optometry</h2>
                         <p>Optometry is a specialized health care profession that involves examining the eyes and related structures for defects or abnormalities. Optometrists are health care professionals who typically provide comprehensive primary eye care. Bachelor of Physiotherapy; BSc in Optometry; BSc in Speech Therapy; BSc in Audiology; BSc in Anaesthesia Technology; Diploma in Operation Theatre Technology</p>
                         <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                      </div>
                      <div class="image">
                            <img  src="images/optometry.jpg">
                      </div>
                </div>

                <div class="content">
                    <div class="image">
                        <img  src="images/immunology.jpg">
                   </div>
                    <div class="text">
                         <h2>Medical Science in Immunology</h2>
                         <p>Immunology is a branch of medicine and biology that covers the medical study of immune systems in humans, animals, plants and sapient species. In such we can see there is a difference of human immunology and comparative immunology in veterinary medicine and animal biosciences. Integrated Immunology MSc. Nuffield Department of Surgical Sciences. Full time. 1 year. Interdisciplinary Medical Research (MRC Doctoral Training)</p>
                         <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                   </div>
                </div>

                <div class="content">
                    <div class="text">
                         <h2>Medical Science in Anatomy</h2>
                         <p>Anatomy is the branch of biology concerned with the study of the structure of organisms and their parts. Anatomy is a branch of natural science that deals with the structural organization of living things. It is an old science, having its beginnings in prehistoric times. General Human Anatomy including Embryology, Osteology and Histology. General Human Physiology, Biochemistry. General Medicine. Nutrition and Dietetics.</p>
                         <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                      </div>
                      <div class="image">
                            <img  src="images/anatomy.jpg">
                      </div>
                </div>
                <!-- <div class="button-container">
                    <p>click the button below for  Registration</p>
                    <button><a href="registration_form.html" target="_blank">REGISTRATION</a></button>
                </div> -->



            </div>


            <section class="footer">
                <div class="footer">
                    <p>for further information and enqiery visit our social handles </p>
                    <ul id="socials">
                        <li><a class="facebook" href="https://www.facebook.com/AmritaUniversity/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/amritaedu?lang=en"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google"href="https://www.amrita.edu/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="youtube"href="https://www.youtube.com/user/AmritaUniversity"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="instagram"href="https://www.instagram.com/amrita_university/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    </ul>       
                </div>
            </section>
            
        </div>
     
     </body>
</html>